.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.68);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  height: 300px;
  width: 450px;
}

/* .content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
} 

.image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.modal {
  height: 100vh;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.active {
  transform: scale(1);
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  height: 300px;
  width: 450px;
}
*/
