.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 0;
  align-items: center;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button {
  width: 140px;
  height: 44px;
}

.error {
  color: tomato;
  font-weight: 300;
}
